.app__main_selfIntro{
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding:3rem 0;
    width:100%;
}

.app__main_selfIntro-titleBox{
    width:80%;
    display: flex;
    flex-direction: column;

    margin: 20px 0;
}

.app__main_selfIntro-title{
    color:white;
    font-size: 32px;
}

.app__main_selfIntro-titleBar{
    width:12rem;
    height:1px;
    background: var(--color-golden);
}

/*내용*/
.app__main_selfIntro-content{
    width:70%;
    display: flex;
    justify-content: space-between;
}


.app__main_selfIntro-contentText{
    color:white;
    font-size: 18px;
}

@media screen and (max-width:768px) {
    .app__main_selfIntro-content{
        flex-direction: column;
        align-items: center;

        margin:2rem 0;
    }

    .app__main_selfIntro-titleBox{
        width:70%;
    }
    
    .app__main_selfIntro-title{
        font-size: 28px;
    }
    
    .app__main_selfIntro-titleBar{
        width:10rem;
    }

    .app__main_selfIntro-contentImg{
        margin-top:30px;
    }
}

@media screen and (max-width:650px){
    .app__main_selfIntro-content{
        width:60%;

        margin:1rem 0;
    }

    .app__main_selfIntro-titleBox{
        width:60%;
    }
    
    .app__main_selfIntro-title{
        font-size: 25px;
    }
    
    .app__main_selfIntro-contentText{
        font-size: 15px;
    }
    .app__main_selfIntro-contentImg{
        margin-top:30px;
    }
    .app__main_selfIntro-contentImg > *{
        width:90%;
        height:90%;
    }
}