.app__projects{
    height:100%;
    display:flex;
    flex-direction: column;
    background-color: var(--color-black);
    padding:7rem 10rem;
}

/*타이틀*/
.app__projects-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 3rem;
}

.app__projects-main-title{
    color:white;
    font-size: 50px;
}

.app__projects-title-bar{
    width:350px;
    height:2px;
    background-color: var(--color-golden);
}

/*탭*/
.app__projects-tabs{
    display: flex;
}

.app__projects-tabs > * {
    margin-right:2rem;
}

.app__projects-tabs > button {
    display: flex;
    justify-content: center;
    align-items: center;

    border:0;
    padding:0.5rem 4rem;
    background-color: transparent;
    color:white;
    font-size: 36px;

    transition: 0.3s ease;
}

.app__projects-tabs > button:hover {
    background-color: rgb(240, 186, 223);
}

.app__projects-tabs .p__title.active {
    background-color: var(--color-golden);
}

/*projects 내용-컴포넌트(1-4)*/
.app__projects-content{
    display:flex;
    flex-direction: row;
    background-color: var(--color-black);
    padding:5rem;
    margin-top:3rem;

    border:1px solid var(--color-golden);
}

.app__projects-content-title{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    min-width:500px;
    padding-right:2rem;
}

.app__projects-content-title-item{
    margin-bottom:10px;
}

.app__projects-content-title-item:first-child{
    font-size: 48px;
}

.app__projects-content-title-item:nth-child(2){
    font-size: 28px;
}

.app__projects-content-title-item:nth-child(3){
    font-size: 23px;
}

.app__projects-content-title-item button{
    display: flex;
    justify-content: center;
    align-items: center;

    border:0;
    border-radius: 1rem;
    padding:0.8rem 2rem;
    margin-top: 1rem;

    font-size:22px;
    background-color: rgb(180, 180, 180);
    color:white;
}

/*갤러리*/
.app__projects-gallery{
    flex:1;
    display:flex;
    flex-direction: row;
    max-width:50%;
    position:relative;
}

.app__projects-gallery-container{
    display: flex;
    flex-direction: row;
    width:max-content;/*오버플로가 발생해도 줄바꿈 x*/
    overflow-x:scroll;
/* 
    -ms-overflow-style:none;
    scrollbar-width:none; */
}

.app__projects-gallery-container::-webkit-scrollbar{
    display: none; 
}

.app__projects-gallery-card{
    position:relative;
    min-width: 351px;
    height:487px;  
    margin-right:2rem; 
}

.app__projects-gallery-card img{
    width:100%;
    height:100%;
    object-fit: contain;
    opacity: 1;
    transition: 0.5s ease;
}

.app__projects-gallery-card:hover img{
    opacity:0.5;
}

/*스크롤 이동 화살표*/
.app__projects-gallery-arrows{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:0 1rem;
    position:absolute;
    bottom:5%;
}

.gallery__arrow-icon{
    color:var(--color-golden);
    font-size:2rem;
    cursor:pointer;
    background-color: var(--color-black);
    border-radius:5px;
}

.gallery__arrow-icon:hover{
    color:var(--color-white);
}


@media screen and (max-width:1440px){
    .app__projects-content{
        flex-direction: column;
    }

    .app__projects-title > .app__projects-main-title{font-size: 44px;}
    .app__projects-title > .app__projects-title-bar{
        width:300px;
    }
}

@media screen and (max-width:1150px) {
    .app__projects{
        padding:7rem 9rem;
    }
    .app__projects-tabs > * {
        margin-right:1.5rem;
    }
    .app__projects-tabs > button {
        padding:0.5rem 3rem;
        font-size: 28px;
    }
    .app__projects-content-title-item:first-child{
        font-size: 42px;
    }
    
    .app__projects-content-title-item:nth-child(2){
        font-size: 22px;
    }
    
    .app__projects-content-title-item:nth-child(3){
        font-size: 16px;
    }
    
}
@media screen and (max-width:768px) {
    .app__projects{
        padding:7rem 8rem;
    }

    .app__projects-title > .app__projects-main-title{font-size: 40px;}
    .app__projects-title > .app__projects-title-bar{
        width:260px;
    }

    .app__projects-tabs > button {
        padding:0.5rem 2.5rem;
        font-size: 25px;
    }
    .app__projects-tabs > * {
        margin-right:1rem;
    }

    .app__projects-content{
        padding:4rem;
        margin-left:10px;
    }
    .app__projects-content-title{    
        min-width:200px;
        padding-right:1rem;
    }

    .app__projects-content-title-item:first-child{
        font-size: 38px;
    }
    
    .app__projects-content-title-item:nth-child(2){
        font-size: 23px;
    }
    
    .app__projects-content-title-item:nth-child(3){
        font-size: 18px;
    }

    .app__projects-content-title-item button{
        border-radius: 0.5rem;
        padding:0.5rem 1.5rem;
        margin-top: 1rem;
    
        font-size:18px;
    }

    .app__projects-gallery{
        max-width:100%;
    }

    .app__projects-gallery-card{
        position:relative;
        min-width: 240px;
        height:390px;  
        margin-right:1rem; 
    }
    
    .app__projects-gallery-card img{
        width:100%;
        height:100%;
        object-fit: contain;
        opacity: 1;
        transition: 0.5s ease;
    }
    
}
    
@media screen and (max-width:650px){
    .app__projects{
        padding: 4rem 3rem;
    }

    .app__projects-title{
        margin-left:40px;
    }
    .app__projects-title > .app__projects-main-title{font-size: 32px;}
    .app__projects-title > .app__projects-title-bar{
        width:200px;
    }

    .app__projects-tabs{
        flex-wrap: wrap;
    }
    .app__projects-tabs > * {
        margin: 0 0 1rem 2rem;
    }

    .app__projects-content{
        padding:2rem;
        margin-left:50px;
    }
    .app__projects-content-title{    
        min-width:50px;
    }
    .app__projects-content-title-item:first-child{
        font-size: 23px;
        max-width:120px;
    }
    
    .app__projects-content-title-item:nth-child(2){
        font-size: 17px;
    }
    
    .app__projects-content-title-item:nth-child(3){
        font-size: 13px;
    }

    .app__projects-gallery{
        max-width:100%;
    }

    .app__projects-gallery-card{
        position:relative;
        min-width: 220px;
        height:390px;  
        margin-right:1rem; 
    }
}