@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Hahmlet:wght@300&display=swap');

:root{
  --font-title:'Black Han Sans', sans-serif;
  --font-content:'Hahmlet', serif;

  --color-black:#020306;
  --color-yellow:#FFD686;
  --color-golden:#F4CE6D;
  --color-gray:#383838;
  --color-purple:#B799C5;
}

* {
  padding:0;
  margin:0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}